.dart_tool/
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

.env

android/app/build/
android/.gradle/
android/captures/
android/local.properties
*.apk
*.aab
*.jks
*.keystore

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

.idea/
*.iml
.vscode/

android_backup/
my_new_app/

.DS_Store
Thumbs.db